p{
	text-align: justify;
	word-break: break-all;
	font-size:17px;
	font-family:"Times New Roman",Georgia,Serif
}
li{
	font-size:17px;
	text-align: justify;
	word-break: break-all;
	font-family:"Times New Roman",Georgia,Serif
}
.back{
	display:block;
	position:fixed;
	width:100%;
	z-index:3;
	top:0px;
	line-height:45px;
	font-size:15px;
	border-top:1px solid #e2e2e2;
	overflow:hidden;
}
.back ul
{
list-style-type:none;
margin:0;
padding:0;

}

.back li a{
	display:block;
color:#0F0F0F;

background-color:#fff;
padding:0px;
text-decoration:none;
text-transform:uppercase;
}
.top{
	position:relative;

	border-bottom:1px solid #e7eaeb;
	border-top:1px solid #fff;
	padding-bottom:0px;
	margin-bottom:0px;
	margin-top:45px;

}
.click0{
	margin:20px;
	padding:0px;
float:right;
}

.top p{
color:#804000;
font-size:12px;
}

.select0{
	
display:none;
position:absolute;
top:42px;
right:20px;
background-color:rgba(0,0,0,0.6);
margin:0px;
padding:0px;
width:50px;
	
}
.select0 p{
display:block;
color:white;
text-align:center;
font-size:13px;
padding:0px;
text-decoration:none;
text-transform:uppercase;
}

.top .user{
	font-size:17px;
}
.center{
	border-bottom:1px solid #e7eaeb;

}
.content{
	
}
.pinlun{
	border-top:1px solid #e7eaeb;
	margin-bottom:50px;
	width:100%;
}
.pinlun .father{
	border-bottom:1px solid #e7eaeb;
	margin:0;padding:0; 
	position:relative;
	
}
.pinlun ul .pinlun_user{
	
}
.pinlun ul li{
	color:#0665e6;
	list-style:none;
	float:left;
}
.click{
	margin:0;
	padding:0;
float:right;
}
.select{
	
display:none;
position:absolute;
top:22px;
right:0px;
background-color:rgba(0,0,0,0.6);
margin:0;
padding:0;
width:50px;
	
}
.select p{
display:block;
color:white;
text-align:center;
font-size:13px;
padding:0px;
text-decoration:none;
text-transform:uppercase;
}


.pinlun ul .pinlun_content{

}
.pinlun ul .reply{
	position:relative;
	margin:20px;padding:0;
}
.reply p{
	font-size:13px;
}
.reply li{
	font-size:13px;
}

.select_child{
	
display:none;
position:absolute;
top:0px;
right:0px;
background-color:rgba(0,0,0,0.6);
margin:0;
padding:0;
width:50px;
	
}
.select_child p{
display:block;
color:white;
text-align:center;
font-size:13px;
padding:0px;
text-decoration:none;
text-transform:uppercase;
}
.add{
	position:fixed;
	bottom:60px;
	right:10px;
}
.comment{
	display:block;
	position:fixed;
	width:100%;
	z-index:3;
	bottom:0px;
	line-height:55px;
	font-size:15px;
	border-top:1px solid #e2e2e2;
	overflow:hidden;
	background-color:blue;
}

.comment textarea{
left:0px;
width:80%;
height:30px;
}
.comment button{
position:absolute;
height:100%;
width:20%;
right:10px
bottom:0px;
}